<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>
<div th:fragment="myalbum(user)">
    <div class="container">
        <div class="row mt-4 mb-4 p-2">
            <div class="col-auto">
                <a th:class="${user.posts.size() >= 10} ? 'disabled btn btn-outline-secondary' : 'btn btn-outline-success'" href="/newpost"
                th:text="${user.posts.size() >= 10} ? 'Album full. Remove some post to add new' : 'Add a new post'"></a>
            </div>
            <div class="col">
                <span class="btn btn-outline-secondary" th:text="${user.posts.size()} + '/10'"></span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-lg-6" th:each="post : ${user.posts}">
                <div th:replace="fragments/post :: post(post=${post}, fullView=false)"></div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="publicalbum(user)">
    <div class="container">
        <div class="row mb-4 mt-4 p-2">
            <h3 th:text="${user.name} + '\'s album'"></h3>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-lg-6" th:each="post : ${user.posts}">
                <div th:replace="fragments/post :: publicpost(post=${post}, fullView=false)"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>