<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.springframework.org/security/tags">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Wepa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body>

<div th:fragment="jumbotron" class="jumbotron text-center" style="margin-bottom:0; background-image: url('https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
    <div class="container shadow-lg p-3 bg-white rounded-pill" style="height: 120px">
        <h1>Fakebook</h1>
        <p>My amazing project</p>
    </div>
</div>

<nav th:fragment="nav" class="navbar navbar-dark bg-dark sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="nav-item col-auto">
                <a class="nav-link" href="/profile">My profile</a>
            </div>
            <div sec:authorize="hasAuthority('USER')" class="nav-item col-auto">
                <a class="nav-link" href="/search">Search</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="nav-item col-auto">
                <a class="nav-link" href="/accounts">Manage accounts</a>
            </div>
            <div sec:authorize="hasAuthority('USER')" class="nav-item col">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
            <div sec:authorize="!hasAuthority('USER')" class="nav-item col">
                <a class="nav-link" href="/login">Login</a>
            </div>
            <div sec:authorize="!hasAuthority('USER')" class="nav-item col">
                <a class="nav-link" href="/register">Register</a>
            </div>
        </div>
    </div>
</nav>

</div>

</body>
</html>