<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>

<div th:fragment="lorem" class="container-fluid overflow-hidden">
    <div class="row">
        <div class="col-4 m-2 bg-light border border-info rounded">
            <p class="p-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam nisi. Quisque sit amet sagittis lacus. Sed et interdum sapien. Aliquam ac sodales purus. Donec eu odio metus. Donec ut enim sit amet nisi tincidunt fermentum eget ac sem. Donec dictum eget ex eget molestie. Curabitur pharetra, ipsum non malesuada laoreet, tortor lectus sodales velit, a pretium nisl enim lobortis neque. Suspendisse at ipsum eros. Nam porta dictum ultrices. Duis lacinia et nisl id porttitor. Donec nec placerat enim. Praesent vestibulum augue et diam molestie, ut commodo velit vestibulum. Praesent at nulla ipsum. Aliquam erat volutpat. Curabitur lorem nisl, posuere vulputate efficitur eget, luctus sed urna.
            </p>
        </div>
        <div class="col-6 m-2 bg-light border border-info rounded">
            <p class="p-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam nisi. Quisque sit amet sagittis lacus. Sed et interdum sapien. Aliquam ac sodales purus. Donec eu odio metus. Donec ut enim sit amet nisi tincidunt fermentum eget ac sem. Donec dictum eget ex eget molestie. Curabitur pharetra, ipsum non malesuada laoreet, tortor lectus sodales velit, a pretium nisl enim lobortis neque. Suspendisse at ipsum eros. Nam porta dictum ultrices. Duis lacinia et nisl id porttitor. Donec nec placerat enim. Praesent vestibulum augue et diam molestie, ut commodo velit vestibulum. Praesent at nulla ipsum. Aliquam erat volutpat. Curabitur lorem nisl, posuere vulputate efficitur eget, luctus sed urna.
            </p>
        </div>
    </div>
</div>

</body>
</html>