<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:fragment="post(post, fullView)" class="card mb-4">
    <script th:src="@{/javascript/post.js}" defer></script>
    <div class="card-header text-muted">
        <div class="row align-items-right">
            <div class="col-auto">
                <div th:replace="fragments/user :: chatUser(user=${post.author})"></div>
            </div>
            <div class="col">
                <i><span th:text="${#calendars.format(post.date, 'dd/MM/yyyy hh.mm')}"></span></i>
            </div>
            <div class="col-auto">
                <button th:onclick="@{toggleActions('{id}')(id=${post.id})}" type="button" class="btn btn-outline-dark">Actions</button>
            </div>
        </div>
        <div class="row mt-2" style="display:none" th:id="'actions' + ${post.id}">
            <div class="col-auto">
                <form method="post" th:action="@{/setprofilepic(postId=${post.id})}">
                    <button type="submit" class="btn btn-dark">Set as profile picture</button>
                </form>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-danger" th:onclick="@{removeButton('{id}')(id=${post.id})}">Remove</button>
            </div>
            <div class="col-auto" id="removeConfirm" style="display:none">
                <form method="post" th:action="@{/users/{user}/posts/{id}/remove(user=${post.author.name}, id=${post.id})}">
                    <span class="form-text">This will remove the post and its comments permanently</span>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>
            </div>
        </div>
    </div>

    <a th:href="@{/users/{username}/posts/{id}(username=${post.author.name}, id=${post.id})}">
        <img th:src="@{/users/{username}/images/{id}(username=${post.author.name}, id=${post.image.id})}" class="card-img-top">
    </a>

    <div class="card-body">
        <div class="row align-items-center">
            <div class="col ml-3">
                <p th:text="${post.caption}" class="card-text"></p>
            </div>
            <div class="col-auto">

                <form class="form-row align-items-center"
                        method="POST"
                        th:action="@{/users/{username}/posts/{id}/like?fullview={fullView}(username=${post.author.name}, id=${post.id}, fullView=${fullView})}">
                    <button type="submit" class="btn btn-light mr-2">
                        <img class="img-fluid" src="/assets/svg/heart.svg" title="Like">
                    </button>
                    <span th:text="${post.likes}"></span>
                </form>

            </div>
            <div class="col-auto">
                <div class="row align-items-center mr-2">
                    <button type="button" th:onclick="@{toggleComments('{id}')(id=${post.id})}" class="btn btn-light mr-2">
                        <img class="img-fluid" src="/assets/svg/chat.svg" title="Comment">
                    </button>
                    <span th:text="${post.comments.size()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div th:id="'comments' + ${post.id}" style="display:none">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <form class="row"
                      method="post"
                      th:action="@{/users/{username}/posts/{id}/comment?fullview={fullView}(username=${post.author.name}, id=${post.id}, fullView=${fullView})}">
                    <div class="col">
                        <textarea class="form-control" placeholder="Your comment" maxlength="140" required="true" rows="1" name="text"></textarea>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-primary">Send</button>
                    </div>
                </form>
            </li>
            <li class="list-group-item" th:each="comment : ${post.comments}">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div th:replace="fragments/user :: chatUser(user=${comment.author})"></div>

                    </div>
                    <div class="col-auto text-muted">
                        <i><span th:text="${#calendars.format(comment.date, 'dd/MM/yyyy hh.mm')}"></span></i>
                    </div>
                    <div class="col">
                        <span th:text="${comment.text}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="publicpost(post, fullView)" class="card mb-4">
    <script th:src="@{/javascript/post.js}" defer></script>
    <div class="card-header text-muted">
        <div class="row align-items-center">
            <div class="col ">
                <div th:replace="fragments/user :: chatUser(user=${post.author})"></div>
            </div>
        </div>
    </div>

    <a th:href="@{/users/{username}/posts/{id}(username=${post.author.name}, id=${post.id})}">
        <img th:src="@{/users/{username}/images/{id}(username=${post.author.name}, id=${post.image.id})}" class="card-img-top">
    </a>

    <div class="card-body">
        <div class="row align-items-center">
            <div class="col ml-3">
                <p th:text="${post.caption}" class="card-text"></p>
            </div>
            <div class="col-auto">

                <form class="form-row align-items-center"
                      method="POST"
                      th:action="@{/users/{username}/posts/{id}/like?fullview={fullView}(username=${post.author.name}, id=${post.id}, fullView=${fullView})}">
                    <button type="submit" class="btn btn-light mr-2">
                        <img class="img-fluid" src="/assets/svg/heart.svg" title="Like">
                    </button>
                    <span th:text="${post.likes}"></span>
                </form>

            </div>
            <div class="col-auto">
                <div class="row align-items-center mr-2">
                    <button type="button" th:onclick="@{toggleComments('{id}')(id=${post.id})}" class="btn btn-light mr-2">
                        <img class="img-fluid" src="/assets/svg/chat.svg" title="Comment">
                    </button>
                    <span th:text="${post.comments.size()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div th:id="'comments' + ${post.id}" style="display:none">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <form class="row"
                      method="post"
                      th:action="@{/users/{username}/posts/{id}/comment?fullview={fullView}(username=${post.author.name}, id=${post.id}, fullView=${fullView})}">
                    <div class="col">
                        <textarea class="form-control" placeholder="Your comment" maxlength="140" required="true" rows="1" name="text"></textarea>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-primary">Send</button>
                    </div>
                </form>
            </li>
            <li class="list-group-item" th:each="comment : ${post.comments}">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div th:replace="fragments/user :: chatUser(user=${comment.author})"></div>

                    </div>
                    <div class="col-auto text-muted">
                        <span th:text="${#calendars.format(comment.date, 'dd/MM/yyyy hh.mm')}"></span>
                    </div>
                    <div class="col">
                        <span th:text="${comment.text}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>




</body>
</html>