<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:fragment="post(post)" class="card">

    <a th:href="@{/users/{username}/posts/{id}(username=${post.author.name}, id=${post.id})}">
        <img th:src="@{/users/{username}/posts/{id}/image(username=${post.author.name}, id=${post.id})}" class="card-img-top">
    </a>

    <div class="card-body">
        <div class="row align-items-top">
            <div class="col-8">
                <p th:text="${post.caption}" class="card-text"></p>
            </div>
            <div class="col-4">

                <form class="form-row align-items-center" method="POST" th:action="@{/users/{username}/posts/{id}/like(username=${post.author.name}, id=${post.id})}">
                    <button type="submit" class="btn btn-light heart mr-2">
                        <img class="img-fluid" src="/assets/svg/heart.svg" title="Like">
                    </button>
                    <span th:text="${post.likes}"></span>
                </form>


            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <i>
            <a th:href="@{/users/{username}(username=${post.author.name})}">
                <span th:text="${post.author.name}"></span>
            </a>
            posted
        </i>
        <span th:text="${#calendars.format(post.date, 'dd/MM/yyyy hh.mm')}"></span>
    </div>
</div>

</body>
</html>