<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:fragment="chatUser(user)">
    <a th:href="@{/users/{username}(username=${user.name})}">
        <img class="rounded-pill" width="50" height="50" th:src="${user.hasProfilePic}? @{ /users/{username}/images/{id}(username=${user.name}, id=${user.profilePic.id})} : @{/assets/jpg/defaultProfilePic.jpg}"/>
        <i>
            <span th:text="${user.name}"></span>
        </i>
    </a>
</div>

<div th:fragment="profileUser(user)" class="row mt-4 mb-4 align-items-center">
    <script th:script="@{/javascript/myprofile.js}"></script>
    <div class="col-auto">
        <button class="btn rounded-pill" onclick="showProfilePicToolTip()">
            <img class="rounded-pill" width="100" height="100" th:src="${user.hasProfilePic}? @{ /users/{username}/images/{id}(username=${user.name}, id=${user.profilePic.id})} : @{/assets/jpg/defaultProfilePic.jpg}"/>
        </button>
    </div>
    <div class="col-auto">
        <h3 th:text="${user.name}"></h3>
    </div>
    <div class="col align-items-center" id="profilePicToolTip" style="display:none">
        <div class="alert alert-info">You can set an image in your <i>Album</i> as your profile picture by choosing <i>Actions > Set as profile picture</i></div>
    </div>
</div>

<div th:fragment="publicProfileUser(user)" class="row mt-4 mb-4 align-items-center">
    <div class="col-auto">
        <img class="rounded-pill" width="100" height="100" th:src="${user.hasProfilePic}? @{ /users/{username}/images/{id}(username=${user.name}, id=${user.profilePic.id})} : @{/assets/jpg/defaultProfilePic.jpg}"/>
    </div>
    <div class="col">
        <h3 th:text="${user.name}"></h3>
    </div>
</div>

<div th:fragment="searchUser(user)">
    <img class="rounded-pill" width="50" height="50" th:src="${user.hasProfilePic}? @{ /users/{username}/images/{id}(username=${user.name}, id=${user.profilePic.id})} : @{/assets/jpg/defaultProfilePic.jpg}"/>
    <i>
        <span th:text="${user.name}"></span>
    </i>
</div>

<div th:fragment="request(request)">
    <div class="row align-items-center">
        <div class="col-auto">
            <img class="rounded-pill" width="50" height="50" th:src="${request.sender.hasProfilePic}? @{ /users/{username}/images/{id}(username=${request.sender.name}, id=${request.sender.profilePic.id})} : @{/assets/jpg/defaultProfilePic.jpg}"/>
        </div>
        <i>
            <div class="col">
                    <span class="text-dark" th:text="${request.sender.name}"></span>
            </div>
            <div class="col-auto text-muted">
                <span th:text="${#calendars.format(request.date, 'dd/MM/yyyy hh.mm')}"></span>
            </div>
        </i>
        <div class="col pl-5">
            <form method="post" th:action="@{/users/{name}/friend/accept(name=${request.sender.name})}">
                <button type="submit" class="btn btn-success">Accept</button>
            </form>
        </div>
        <div class="col">
            <form method="post" th:action="@{/users/{name}/friend/decline(name=${request.sender.name})}">
                <button type="submit" class="btn btn-outline-danger">Decline</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="sentRequest(request)">
    <div class="row align-items-center">
        <div class="col-auto">
            <img class="rounded-pill" width="50" height="50" th:src="${request.sender.hasProfilePic}? @{ /users/{username}/images/{id}(username=${request.sender.name}, id=${request.sender.profilePic.id})} : @{/assets/jpg/defaultProfilePic.jpg}"/>
        </div>
        <i>
            <div class="col">
                <span class="text-dark" th:text="${request.receiver.name}"></span>
            </div>
            <div class="col-auto text-muted">
                <span th:text="${#calendars.format(request.date, 'dd/MM/yyyy hh.mm')}"></span>
            </div>
        </i>
        <div class="col-auto text-muted">
            <span th:text="${request.status}"></span>
        </div>
        <div class="col">
            <form method="post" th:action="@{/requests/{id}/cancel(id=${request.id})}">
                <button type="submit" class="btn btn-outline-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>