<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:fragment="wall(user, wall)" class="container mt-4">

    <form method="post" th:action="@{/users/{name}/wall(name=${user.name})}" class="row mb-4">
        <div class="col">
            <textarea name="text" class="form-control" th:placeholder="@{Write a message to {name}'s wall!(name=${user.name})}"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    <div th:each="wallPost : ${wall}" class="row-fluid p-1">
        <div th:replace="fragments/wallpost :: wallPost(post=${wallPost})"></div>
    </div>
</div>

</body>
</html>