<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:replace="fragments/layout :: nav"></div>

<div class="container">
    <h1 th:text="${user.name}"></h1>

    <h3>Friends</h3>
    <ul class="table">
        <li th:each="friend : ${user.friends}">
            <span th:text="${friend.name}">name</span>
        </li>
    </ul>

    <div th:replace="${user.incomingFriendRequests.isEmpty()} ? ~{fragments/layout :: empty} : ~{fragments/layout :: incomingRequests( requests=${user.incomingFriendRequests} )}"></div>

    <div th:replace="${user.sentFriendRequests.isEmpty()} ? ~{fragments/layout :: empty} : ~{fragments/layout :: sentRequests( requests=${user.sentFriendRequests} )}"></div>
</div>

</body>
</html>