<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:replace="fragments/layout :: nav"></div>

<div class="container">

    <div th:replace="fragments/user :: publicProfileUser(user=${user})"></div>

    <script th:src="@{/javascript/myprofile.js}" defer></script>

    <div class="row border border-secondary rounded p-3">
        <div class="col">
            <a href="#wall" class="btn btn-primary" onclick="toggleElement('wall')" id="_wallButton">Wall</a>
        </div>
        <div class="col">
            <a href="#album" class="btn btn-outline-primary" onclick="toggleElement('album')" id="_albumButton">Album</a>
        </div>
        <div class="col-auto">
            <a href="#friends" class="btn btn-primary" onclick="toggleElement('friends')" id="_friendsButton">Friends</a>
        </div>
    </div>

    <div id="_wall" style="display:block">
        <div th:replace="fragments/wall :: wall(user=${user}, wall=${wall})"></div>
    </div>

    <div id="_album" style="display:none">
        <div th:replace="fragments/album :: publicalbum(user=${user})"></div>
    </div>

    <div id="_friends" style="display:none">
        <div th:replace="fragments/friends :: publicfriends(user=${user})"></div>
    </div>

</div>

</body>
</html>