<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:replace="fragments/layout :: nav"></div>

<div class="container" style="margin-top:30px">

    <h1>Search from users</h1>

    <form method="post" action="/search">
        <div class="form-row">
            <div class="col">
                <input class="form-control" id="entry" name="entry" placeholder="searchword"/>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary" type="submit" >Search</button>
            </div>
        </div>
    </form>

    <div class="container p-4 m-2">
       <div class="row mb-4 p-2 align-items-center border border-info rounded" th:each="result : ${users}">
           <div class="col-4" th:if="${!user.friends.contains(result)}">
               <div th:replace="fragments/user :: searchUser(user=${result})"></div>
           </div>
           <div class="col-4" th:if="${user.friends.contains(result)}">
               <div th:replace="fragments/user :: chatUser(user=${result})"></div>
           </div>
           <div class="col-auto" th:if="${!user.friends.contains(result)}">
               <form method="post" th:action="@{/users/{name}/friend(name=${result.name})}">
                   <button class="btn btn-outline-success" type="submit" id="friend">Add friend</button>
               </form>
           </div>
           <div class="col-auto" th:if="${user.friends.contains(result)}">
               <button class="btn btn-outline-success" disabled>You are friends</button>
           </div>
           <div class="col-auto" th:if="${user.equals(result)}">
               <button class="btn btn-outline-success" disabled>This is you</button>
           </div>
       </div>
    </div>

</div>

</body>
</html>