<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:replace="fragments/layout :: nav"></div>

<div class="container" style="margin-top:30px">

    <h1>Search from users</h1>

    <form method="post" action="/search">
        <div class="form-row">
            <div class="col">
                <input class="form-control" id="entry" name="entry" placeholder="searchword"/>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary" type="submit" >Search</button>
            </div>
        </div>
    </form>

    <div class="container p-4 m-2">
       <div class="row align-items-center" th:each="result : ${users}">
           <div class="col-auto">
               <div th:replace="fragments/user :: chatUser(user=${result})"></div>
           </div>
           <form method="post" th:action="@{/users/{name}/friend(name=${result.name})}" th:style="${user.friends.contains(result)} ? 'display:none' : 'display:block'">
               <div class="form-row">
                   <div class="col">
                       <button class="btn btn-outline-success" type="submit" id="friend">Add friend</button>
                   </div>
               </div>
           </form>
       </div>
    </div>

</div>

</body>
</html>