<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

<div th:replace="fragments/layout :: nav"></div>

<div class="container">
    <h1 th:text="${user.name}"></h1>

    <h3>Incoming friend requests</h3>
    <ul class="table">
        <li th:each="request : ${user.friendRequests}">
            <form method="post" action="/users/${request.name}/accept">
                <span th:text="${request.name}"/>
                <button type="submit" class="btn btn-primary">Accept</button>
                <button type="submit" class="btn btn-outline-danger">Decline</button>
            </form>
        </li>
    </ul>

    <h3>Friends</h3>
    <ul class="table">
        <li th:each="friend : ${user.friends}">
            <span th:text="${friend.name}">name</span>
        </li>
    </ul>
</div>

</body>
</html>